
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;    
    color: #2E2327;
} 

header, section, footer {
    padding-top:40px;
    padding-bottom:40px;
}

h1, h2 {
    font-family: 'DM Serif Text', serif;
    margin-bottom: 30px;
    color: #2E2327;
    mix-blend-mode: multiply;
}

.main-header, .hero, .testimonials {
    /* background-color: #ffffff; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23D8E2DD' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");  */
    border-bottom: solid 4px;
    border-image: linear-gradient(to right, #D8E2DD 20%, #FFE5D9 20%, #FFE5D9 40%, #FFCAD4 40%, #FFCAD4 60%, #F5ACB8 60%, #F5ACB8 80%, #9E8189 80%) 5;
}

.main-header {
    border-bottom: solid 6px;

}

.main-header .logo {
    width: 250px;
}

.main-header ul {
    padding:0;
    margin:0;
}

.main-header a {
    color: #2E2327;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;    
    transition: color 0.3s;

}

.main-header a::before {
    position: absolute;
    top: 80%;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 16px;
    transition: text-shadow 0.3s, color 0.3s;
    transform: translateX(-50%);
}

.main-header a:hover::before, .main-header .active a::before {
    color: #36827F;
    text-shadow: 12px 0 #36827F, -12px 0 #36827F;
}

.main-header .active a {
    color: #72091A;
}


.main-header ul li {
    position: relative;
    display: inline-block;
    margin-left:5px;
    margin-right:5px;
    padding: 0 20px;
}

.burger {
    font-size:40px;
    display:none;
}

.hero {
    background: url(../images/shade.png) no-repeat bottom center, url(../images/hero-variant-01.png) no-repeat center right;
    background-size: cover;
}

.btn {
    text-transform: uppercase;
    margin-top: 20px;   
}

.btn-success {
    background-color: #36827F;
    border: 1px solid #36827F;
    color: white;
}

.btn-success:hover {
    background-color: #286360;
    border: 1px solid #286360;
    color: white;
}

.hero-text {
    padding: 25px;
}

.hero-text h1 {
    font-family: 'DM Serif Text', serif;
}

.how-to-order {
    /* CLOUDS OPTION
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23D8E2DD' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E"); */
    
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%23dae8d8' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E"); */
}

.how-to-order .steps {
    background-color: white;
    text-align: center;
 
}

.how-to-order p {
    padding-left: 20px;
    padding-right: 20px;
}


.how-to-order .step-header {
    height: 80px;
    color: #2E2327;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 28px;
    position: relative;
}

.how-to-order .row {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.how-to-order .col-md-4.d-flex.flex-column {
    padding: 0;
}

.how-to-order .step-header:after {
    left: 100%;
    top: 50%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: solid transparent;
    border-color: rgba(136,183,213,0);
    border-width: 30px;
    margin-top: -30px;
    z-index:99;
}

.how-to-order .step-1 {
    /* background-color: #DDE7C7; */
    /* background-color: #B7E1E0; */
    background-color: #FFCAD4;
    
}

.how-to-order .step-1:after {
    /* border-left-color: #DDE7C7; */
    /* border-left-color: #B7E1E0; */
    border-left-color: #FFCAD4;

}

.how-to-order .step-2 {
    /* background-color: #BFD8BD; */
    /* background-color: #8CCFCD; */
    background-color: #FFE5D9;
}

.how-to-order .step-2:after {
    /* border-left-color: #BFD8BD; */
    /* border-left-color: #8CCFCD; */
    border-left-color: #FFE5D9;

}

.how-to-order .step-3 {
    /* background-color: #98C9A3; */
    /* background-color: #61BDBA; */
    background-color: #FFCAD4;
}

.latest-work {
    /* background-color: #F8F2F1; */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(239,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23e2ebd6'/%3E%3Cstop offset='1' stop-color='%23d8e2dd'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='23' height='23' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='11.5' cy='11.5' r='11.5'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.2'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    border-top: solid 3px #D8E2DD;
    border-bottom: solid 3px #D8E2DD;


}

.latest-work .card {
    padding: 5px;
    margin: 10px;

}

.latest-work .card img {
    max-width: 100%;
}

.info .col-md-4 {
    border-right: solid 1px black;
}

.info .col-md-4:last-child {
    border: 0;
}

.card {
    margin-bottom: 30px;
}

.testimonials {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

}

.testimonials img {
    width: 50px;
    border-radius: 50%;
}


.footer {
    background-color:#D8E2DD;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

    .burger {
        display:block;
    }

    .main-header nav {
        background-color: #D8E2DD;
        position:fixed;
        top: 132px;
        right:-281px;
        height: 100%;
        padding:10px;
        font-size:25px;
        width: 280px;
        z-index: 999;
        transition: right 0.4s;
    }

    .main-header nav.open {
        right:0px;
    }

    .burger {
        display:block;
        width: 45px;
        height: 42px;
        position: relative;
        margin-top: 5px;
        transform: rotate(0deg);
    }

    .burger span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background-color: #72091A;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
    }

    .burger span:first-child {
        top: 0px;
        left: 0%;
    }

    .burger span:nth-child(2), span:nth-child(3) {
        top: 15px;
    }

    .burger span:last-child {
        top: 30px;
        left: 0%;
    }

    .burger.open span:nth-child(2) {
        transform: rotate(45deg);
    }

    .burger.open span:nth-child(3) {
        transform: rotate(-45deg);
    }

    .burger.open span:first-child {
        top: 15px;
        width: 0%;
        left: 50%;
    }

    .burger.open span:last-child {
        top: 15px;
        width: 0%;
        left: 50%;
    }

    .how-to-order .step-header {
        font-size: 22px;
    }

    .how-to-order .step-header:after {
        border-width: 20px;
        margin-top: -20px;
    }

    .main-header ul li {
        display: block;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {

    .info .col-md-4 {
        border-right: 0;
        border-bottom: solid 1px black;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .how-to-order .step-header:after {

        transform: rotate(90deg);
        top: 100%;
        left: 50%;
        margin-left: -20px;
        margin-top: 0;
        border-width: 20px;
    }

    .how-to-order .step-3:after {
        border-left-color: #FFCAD4;

    }

    .how-to-order .steps p {
        margin-top: 30px;
    }

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 479px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 319px) {

    .main-header h2 {
        font-size: 25px;
    }

}
}

